<p id="title"><i>Admin Galerie</i></p>
<table>
  <tr id="none">
    <td>Galeria</td>
    <td>Nazwa</td>
    <td colspan="2">Akcje</td>
  </tr>
  <% @galleries.each do |gallery| %>
  <tr>
    <td><%= gallery.id %></td>
    <td><%= if gallery.images.first then image_tag gallery.images.first.photo.url(:vsmall) else "" end %></td>
    <td><%= gallery.name %></td>
    <td><%= link_to "Edytuj", edit_admin_gallery_path(gallery) %></td>
    <td><%= link_to "Usuń", admin_gallery_path(gallery), :method => :delete, :confirm => "Jesteś pewien że chcesz usunąć tą galerię?" %></td>
  </tr>
  <% end %>
</table>
<%= link_to "Dodaj Galerię", new_admin_gallery_path %>