<div style="float:left;margin: 2px;height:115px;">
<%# session[:path].to_yaml %>
 <%= form_tag(create_directory_admin_mmanagers_path) do |f| %>  
     <%= text_field_tag :dir %>
     <%= hidden_field_tag :path, @mmanager_path %>
     <%= submit_tag "Dodaj Katalog" %>
    <% end %>
  <p style="font-size:12px;">
   <%= session[:show_file] %>
  </p>
 <%= flash[:notice] %>
  
</div>
<div style="float:left; margin:2px 0px 0px 40px;width:450px;height: 115px;">
  <%= form_for([:admin, @media], :html => { :multipart => true } ) do |f| %>
  <%= f.file_field :upload %><br />
  <%= f.hidden_field :directory, :value => @mmanager_path %>
  <%= submit_tag "Upload" %>
<% end  %>
</div>

<div style="clear:both;">

<%= link_to "Home", place_admin_mmanagers_path(:dir => RAILS_ROOT.to_s+"/"+@mmanager_config["path"])%>
<%= @mmanager_path.gsub(@origin_path, '') %>

<hr />
<div class="mmanager">
<% @dirs.each do |dir| %>
  <div class="desc">
  <%= folder(dir).html_safe %>
  </div>
  <% end %>

  <% @files.each do |file| %>
  <div class="desc">
      <%= file_ext(file).html_safe %>
  </div>
  <% end %>
</div>
<div style="clear:both;"></div>

