<i>Admin articles</i>
  <p style="display:inline;float:right;"<%= link_to("Dodaj Artykuł", new_admin_article_path)%>
  </p>
<table>
  <tr id="none">
    <th>#id</th>
    <th>position</th>
    <th>Menu?</th>
    <th>FrontPage</th>
    <th>publish</th>
    <th>title</th>
    <th colspan="4">actions</th>
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <td>#<%= article.id %></td>
    <td><%= article.position %></td>
    <td><%= if !Menu.find(:first, :conditions => {:article_id => article.id }).nil? then link_to("Tak", article_act_path(article, "no")) else link_to("Nie", article_act_path(article, "yes")) end  %></td>
      <td><%= if article.frontpage then link_to("Tak", article_act_path(article, "f_yes")) else link_to("Nie", article_act_path(article, "f_no")) end %></td>
    <td><%= link_to("#{article.publish?}", article_act_path(article, "#{!article.publish?}")) %></td>
    <td><%= article.title %></td>
    <td><%= link_to("Up", article_act_path(article, "up"))%> |
        <%= link_to("Down", article_act_path(article, "down"))%>
    </td>
    <td><%= link_to("Pokaż", admin_article_path(article)) %></td>
    <td><%= link_to("Edytuj", edit_admin_article_path(article))%></td>
    <td><%= link_to "Usuń", [:admin, article], :confirm => 'TAK?', :method => :delete %></td>
  </tr>
  <% end %>
</table>
