<p>
  id:
  <%= @article.id%>
</p>
<p>
  tagi:
  <%= @article.tag%>
</p>

<p>
  publish:
  <%= @article.publish%>
</p>
<p>
  title:
  <%= @article.title%>
</p>
<p>
  body:
  <%= @article.body%>
</p>
<%= link_to "Wróć", admin_articles_path %>
