<p>
  id:
  <%= @article.id%>
</p>
<p>
  tagi:
  <%= @article.tag%>
</p>

<p>
  publish:
  <%= @article.publish%>
</p>
<p>
  title:
  <%= @article.title%>
</p>
  body:
  <div style="border: solid 1px black;">  
  <%= render_gallery(@article.body) %>
</div>
  
  <%= link_to "Wróć", admin_articles_path %>
