home :]

<%= @current_user.nil?%>
  <% if current_user %>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Register", register_path %> |
    <%= link_to "Login", login_path %>
  <% end %>

  <% @articles.each do |article| %>
  <p>
    <%= article.title %>
    <%= link_to "zobacz go!", article_path(article)%>
  </p>
  <% end %>