<%= form_for @newsuser do |f| %>
  <%= f.text_field :email %>
  <%= f.submit "Newsletter"%>
<% end %>

<%= @current_user.nil?%>
  <% if current_user %>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Register", register_path %> |
    <%= link_to "Login", login_path %>
  <% end %>

  <% @articles.each do |article| %>
  <p>
    <% if article.first? %>
    <div id="first_article_title">
      <p><%= article.title %></p>
    </div>
      <% else %>
      <div id="article_title">
        <p><%= article.title %></p>
      </div>
    <% end %>
    <%= article.head %>
    <div id="read_more">
      <%= link_to "Czytaj więcej", article_path(article)%>
    </div><br />
  </p>
  <div id="article_spacer"></div>
  <% end %>
  
