<p id="title"><i>Edycja fotografii</i></p>


<div id="image-box" class="feathered">  
  <%= form_for([:admin, @gallery, @image], :html => {:multipart => true}) do |f| %>
    <p>
    <%= image_tag @image.photo.url(:small)%>
      <b><i>Image to gallery/image</i></b><br />
      <%= f.file_field :photo %>
    </p>
    <p>
      <%= f.hidden_field :gallery_id, :value => params[:gallery_id]%>
      Opis zdjęcia:<%= f.text_field :name %><br />
      <%= f.hidden_field :position, :value => @images.count+1 %>
    </p>
    <div>
      <div style="float:left;">
   <%= f.submit "Aktualizacja zdjęcia" %>
      </div>
      <div style="float:right;">
   <%= button_to "Dodaj zdjęcie", :action => "new" %>
      </div>
   </div>
  <% end %>
</div>






<%= form_for([:admin, @gallery], :html => {:multipart => true}) do |f| %>
<p>
  Nazwa galerii:
  <%= f.text_field :name %>
</p>



<div style="float:left; width: 550px; margin: 0 0 0 5px;">
    <% @images.each do |image| %>
    <div style="float:left; padding: 2px;">
      <div style="width: 150px;">
        <%= image.name %>
      </div>
      <%= image_tag(image.photo.url(:thumb))%><br />
      <%= link_to "usuń", admin_gallery_image_path(@gallery.id, image.id), :method => :delete, :confirm => "Na pewno chcesz usunąć to zdjęcie?"%>
      <%= link_to "edytuj", edit_admin_gallery_image_path(@gallery.id, image.id) %>
    </div>
    <% end %>
</div>
<div style="clear:both;"></div>
<br />
  <%= f.submit %><br /><br />
<% end %>

<div style="clear:both;"></div>
<br />
<br />
<br /><br />
