<div id="admin_login">
<%= form_for @user_session do |f| %>
    <p>
      <%= f.label :login %><br />
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :hasło %><br />
      <%= f.password_field :password %>
    </p>
    <%= f.submit "Login" %>
<% end %>
</div><br />