<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Admin ECMS</title>
  <%= stylesheet_link_tag "admin" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "rails" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
  <%= csrf_meta_tag %>


</head>
<body>

<div id="global_nav-container">
<ul id="account-links">
  <% if current_user %>
    Login as: <%= current_user.username %>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Register", register_path %> |
    <%= link_to "Login", login_path %>
  <% end %>

    </ul>
  </div>
  
      <div id="topbar">
      <div id="topbar-container">
        <div class="tabs">
          <%= tab_link "Admin", admin_path %>
          <%= tab_link "Użytkownicy", admin_users_path %>
          <%= tab_link "Artykuły", admin_articles_path %>
          <%= tab_link "Galerie", admin_galleries_path %>
          <%= tab_link "Manager", admin_mmanagers_path %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear">
      </div>
    </div>
    
    
    <div id="main-wrapper">
      <div id="wrapper">
        <div id="inner-wrapper" class="feathered">
            <div id="admin_users_index">
              <%= yield %>
            </div>
          <div class="clear"></div>	
        </div>
      </div>
      <div class="clear"></div>
    </div>

    <footer>
      <p>
          <span>H</span>
        | <a target="_blank" href="#">dd</a>
    </footer>
    
</body>
</html>



